header{
    background-color: #FFB900;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        @media(max-width:991px){
            position: absolute;
            flex-direction: column;
            background: #ffda75;
            inset: 55px 0 auto 0;
            z-index: 10;
            height: 0;
            justify-content: start;
            visibility: hidden;
            opacity: 0;
            transition: height 0.5s ease-in-out;
            &.active{
                visibility: visible;
                opacity: 1;
                height: auto;
            }
            .nav-link{
                font-size: 18px;
            }
            li:not(:first-child,:last-child) a{
                border-bottom: 1px solid #ffc1c1;
            }
        }
        .nav-item{
            .nav-link{
                display: inline-block;
                padding: 15px 30px;
                text-decoration: none;
                font-family: "Roboto Slab", serif;
                color: #000;
                font-weight: 600;
                @media(max-width:991px){
                    width: 100%;
                    font-weight: 500;
                    &.active{
                        font-weight: 700;
                        background-color: #ffd562;
                    }
                }  
                @media(min-width:991px){
                    &.active{
                        background-color: white;
                    }
                }  
                @media(min-width:991px){
                    &.active{
                        background-color: white;
                    }
                }  
            }
        }
    }
}

.mob-header{
    position: relative;
    @media(max-width:768px){
        padding: 10px 40px;
        background-color: #ffda75;
    }
    button{
        background: none;
        border: none;
        outline: none;
        font-size: 22px;
    }
}