$primary: #F1592A;
$secondary: #ffb300;
$tertiary: #2c2e3a;
$secondary-hover: #00e070;
$card-bg: #e4fff3;
$white: #fff;
$black: #000;
$yellow: #FFB900;

$text-color: rgb(19, 19, 19);
$card-bg: #c4e7ff;

$primary-fade: #eff9ff;

$footer-bg:#fff;